.page {
  flex: 1 1 0%;
  min-width: 0;
  padding: 3rem 4rem;
  padding: clamp(3rem, 7vh, 5rem) clamp(5rem, 8vw, 10rem) clamp(3rem, 7vh, 5rem)
    clamp(4rem, 7vw, 8rem);
  color: var(--color-text);
}

.primaryBtn {
  composes: btnClean from global; /* from H5Web */
  padding: 0.5em 0.75em;
  background-color: var(--color-primary-btn) !important;
  border-radius: 0.125em;
  color: var(--color-primary-btn-text) !important;
  box-shadow: 0px 2px 3px var(--color-shadow-medium);
  transition:
    box-shadow 0.2s ease-out,
    background-color 0.2s ease-out;
}

.primaryBtn:hover {
  box-shadow: 0px 3px 6px var(--color-shadow-medium);
  background-color: var(--color-primary-btn-hover) !important;
}

.input {
  padding: 0.5em 0.75em;
  border: none;
  border-radius: 0.125em;
  background-color: var(--color-input-bg);
  color: var(--color-text);
  box-shadow: 0px 2px 3px 1px inset var(--color-input-shadow);
  font-family: inherit;
  font-size: inherit;
}

.input[data-error] {
  outline: 2px solid var(--color-btns);
}

.hint {
  margin: 0;
  padding-left: 0.125rem;
  font-size: 0.875em;
}

.hint[data-error] {
  color: var(--color-danger);
}
